body {
    line-height: 1.5;
    background-color:white;
    font-size: 1rem;
    font-weight: 400;
    display: block;
  
  }

  .page-title{
    text-align: center;
    padding: 16px 0;
    background-color: #006563;
  }
  
  h1 {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
}

  .wrapper {
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    position: absolute;
    float: none;
  }
  
  .content {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #FFF;
  }
  
  .content {
    position: relative;
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-left: 0px;
  }
  
  .poster-box{
    position: relative;
    overflow:hidden;
  }
  
  img.ticket-poster {
    display: block; 
    height: 426px; /* corrects obscure Firefox bug */
      max-height: 100%;
    
  }
  
  a.buy-ticket {
    display: block;
    background-color: #F9CC14;
    color: #000000;
    padding: 11px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
  }
  
  .main-content {
    padding-right: 15px;
    width: 935px;
    float: left;
    margin-right: 15px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-padding {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .title-ticket {
    font-size: 25px;
    color: #006563;
    padding-right: 120px;
    line-height: normal;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 30px 0;
  }
  
  .desc-ticket {
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
  }
  
  .main-content .desc-box .desc-ticket li {
    padding-left: 90px;
    font-weight: 300;
    font-size: 13px;
    position: relative;
    text-align: justify;
    line-height: 1.8;
    color: #000000;
  }
  
  li {
    margin: 0;
    padding: 0;
    display: list-item;
  }
  
  .main-content .desc-box .desc-ticket li span {
    min-width: 90px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  h4.desc {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .text-center {
    text-align: center!important;
  }
  
  .desc-links {
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #939598;
    border-top: 1px solid #939598;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .links {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 70px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  a {
    color: #006563;
  }

 .container-clear {
    position: relative;
    width: 1280px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.main-detail {
  padding-right: 15px;
}

.main-content {
  width: 935px;
  float: left;
  margin-right: 15px;
}

.topmargin-sm {
  margin-top: 30px !important;
}

.address-cinema {
  position: relative;
  padding-right: 110px;
}

.address-cinema, .address-cinema-box {
  display: block;
  margin-bottom: -10px;
}

.phone-cinema-block {
  margin-top:5px;
}

.htm-cinema-block {
  margin-top:25px;
}

.address-cinema .feature-cinema {
  width: 110px;
  position: absolute;
  top: 0;
  right: 0;
}

.schedule-wrap {
  position: relative;
  margin-top: 30px;
}

.tabs {
  position: relative;
  margin: 0 0 30px 0;
}

.tabs.theater-tabs ul.tab-nav:not(.tab-nav-lg) {
  border-bottom: none;
  background-color: #006563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.ui-tabs-active a {
  top: 0;
  height: auto;
  line-height: 66px;
  text-align: center;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #BCBEC0;
  margin-bottom: 0;
}

.schedule-table{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #BCBEC0;
  color: #fff;
  background-color: #006563;
}

.schedule-table .tg-uys7 {
  border-color: inherit;
  text-align: center;
  padding: 10px 5px;
}

.schedule-pagination {
  border-bottom: none;
  justify-content: center;
  align-items: center;
}

.schedule-pagination li {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}

.schedule-pagination .nav-item .nav-link {
  padding: 0;
  transition: all .3s ease-in-out;
  background-color: #006563;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.nav-item {
  color: #fff;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.tanggalan {
  color: #54C3BF;
  font-size: 13px;
  background-color: transparent;
  border-color: transparent;
 }

 .tanggalan-aktiv {
  color: #F9CC14;
  text-decoration: none;
  font-size: 13px;
  background-color: transparent;
  border-color: transparent;
 }

.tanggalan:hover {
  text-decoration: none;
  color: #F9CC14;
  font-size: 13px;
  cursor: pointer;
}

.list-movie {
  padding: 40px;
  border-bottom: 1px solid #E2E2E2;
  display: block;
  margin: 0 30px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.list-movies {
  position: relative;
  background-color: #F4F4F4;
}

.list-movies .list-movie .list-movie-poster {
  max-width: 140px;
  display: block;
  margin: 0 auto;
}

.list-movie-poster{
  /* display: block; */
  /* max-width: 290px; */
  height: 207px;
  overflow:hidden;
  /* margin: 0 auto; */
}

img.image-list {
  display: block; 
  height: 100%; /* corrects obscure Firefox bug */
	max-height: 100%;
}

.list-movies .list-movie .list-movie-detail h3 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: normal;
}

h3 {
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-size: 10px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none !important;
  color: #006563;
}

.time-cinema li {
  color: #006563;
  border: 1px solid #006563;
  width: 60px;
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  text-align: center;
  padding: 1px 0;
}