.content-wrap {
    position: relative;
    padding: 40px 0;
}

.heading-twenty {
    height: 48px;
    border-left: 1px solid #006563;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

bottommargin-sm {
    margin-bottom: 30px !important;
}

.select-twenty {
    position: relative;
    width: 200px;
    height: 32px;
}

.select-twenty.dark-twenty .custom-select {
    background-color: #006563;
    color: #ffffff;
}

.select-twenty .custom-select {
    border: none;
    background-color: #E6E7E8;
    position: relative;
    left: -1px;
    height: 32px;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    -webkit-appearance: none;
    color: #006563;
    background-image: none;
    padding: 0px 0px 0px 30px;
}

.select-twenty::before {
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    width: 24px;
    height: 24px;
    position: absolute;
    color: #ffffff;
    z-index: 10;
    left: 10px;
    top: 8px;
    pointer-events: none;
}

.select-twenty.dark-twenty .custom-select {
    background-color: #006563;
    color: #ffffff;
}

.select-twenty .custom-select {
    border: none;
    background-color: #E6E7E8;
    position: relative;
    left: -1px;
    height: 32px;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    -webkit-appearance: none;
    color: #006563;
    background-image: none;
    padding: 0px 0px 0px 30px;
}

.heading-twenty input[type="text"] {
    height: 32px;
    background-color: #E6E7E8;
    border: none;
    margin-left: -1px;
    width: 180px;
    line-height: 32px;
    padding: 4px 10px;
    font-size: 15px;
}

button, input {
    overflow: visible;
}

.main-detail {
    padding-right: 15px;
}

.main-content {
    width: 935px;
    float: left;
    margin-right: 15px;
}

.aa {
    align-items: center;
}

.container {
    width: 1280px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tab-nav {
    border-bottom: none;
    background-color: #006563;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.tab-nav {
    margin: 0;
    border-bottom: 1px solid #DDD;
    list-style: none;
    text-align: center;
}

.ui-tabs-anchor {
    line-height: 66px;
}

.ui-state-default {
    height: auto;
    width: 100%;
}

.theater-link:hover {
    text-decoration: none;
    color: #cfab7a;
    cursor: pointer;
  }