#footer {
    position: relative;
    background-color: #006563;
}

.container {
    width: 1280px !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-7 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.footer-left-menu {
    list-style: none;
    padding: 0;
    margin: 40px 0 10px;
}

.footer-left-menu li {
    display: inline-block;
    border-right: 1px solid #ffffff;
    margin-right: 20px;
    padding-right: 20px;
    line-height: normal;
}

.footer-left-menu li a {
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer-right-menu {
    list-style: none;
    padding: 0;
    margin: 40px 0 10px;
}

.footer-right-menu li {
    display: inline-block;
    margin-right: 10px;
}

.footer-right-menu li a {
    color: #ffffff;
    width: 35px;
    height: 35px;
    display: block;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}