body {
  line-height: 1.5;
  background-color:white;
  font-size: 1rem;
  font-weight: 400;
  display: block;

}

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-shadow: none;
  position: absolute;
  float: none;
}

.content {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
}

.content {
  position: relative;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 80px;
  padding-left: 0px;
}

.poster-box{
  position: relative;
  overflow:hidden;
}

img.ticket-poster {
  display: block; 
  height: 426px; /* corrects obscure Firefox bug */
	max-height: 100%;
  
}

a.buy-ticket {
  display: block;
  background-color: #F9CC14;
  color: #000000;
  padding: 11px;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
}

.main-content {
  padding-right: 15px;
  width: 935px;
  float: left;
  margin-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-padding {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.title-ticket {
  font-size: 25px;
  color: #006563;
  padding-right: 120px;
  line-height: normal;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 30px 0;
}

.desc-ticket {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.main-content .desc-box .desc-ticket li {
  padding-left: 90px;
  font-weight: 300;
  font-size: 13px;
  position: relative;
  text-align: justify;
  line-height: 1.8;
  color: #000000;
}

li {
  margin: 0;
  padding: 0;
  display: list-item;
}

.main-content .desc-box .desc-ticket li span {
  min-width: 90px;
  position: absolute;
  left: 0;
  top: 0;
}

h4.desc {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

.text-center {
  text-align: center!important;
}

.desc-links {
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid #939598;
  border-top: 1px solid #939598;
  margin-bottom: 50px;
  margin-top: 20px;
}

.links {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 70px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a {
  color: #006563;
}