body {
    line-height: 1.5;
    background-color:white;
    font-size: 1rem;
    font-weight: 400;
    display: block;

  }

  .wrapper {
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    position: absolute;
    float: none;
  }

  .cell-table{
    position:relative;
    text-align:center;
  }

  .head-table{
    position:relative;
    text-align:center;
  }

  .movie a .ticket-desc h4 {
    font-size: 19px;
    display: block;
    margin-bottom: 10px;
    color: #000000;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    min-height: 85px;
}

h4 {
    font-weight: 600;
}

h4:hover {
  color: #cfab7a;
}

.movie a .ticket-desc {
  padding: 15px 15px 22px;
  text-align: center;
}

.topmargin {
  margin-top: 50px !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

* {
  box-sizing: border-box;
}

.col-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* img {
  vertical-align: middle;
  border-style: none;
} */

.ticket-poster{
  /* display: block; */
  /* max-width: 290px; */
  height: 426px;
  overflow:hidden;
  /* margin: 0 auto; */
}

img.image-list {
  display: block; 
  height: 100%; /* corrects obscure Firefox bug */
	max-height: 100%;
}

/* img {
  width: 290px;
  aspect-ratio: auto 290 / 426;
  height: 426px;
} */

.content-wrap {
  padding: 25px;
}

.slide-container {
  width: 925px;
}

.crop-height {
	max-height: 527px;
  max-width: 925px;
	overflow:hidden;
}

img.slide-show {
  display: block; 
   /* corrects obscure Firefox bug */
	max-width: 100%;
	/* just in case, to force correct aspect ratio */
	height: auto !important;
  display: block; /* corrects small inline gap at bottom of containing div */
  width: 100%; /* corrects obscure Firefox bug */
  max-width: 100%;
  height: auto !important;
  -ms-interpolation-mode: bicubic;

  /* display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; */
  /* height: 527px; */
  /* max-height: 100px;
  width: 925px;
  overflow: hidden;  */

}

/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} */

.heading-twenty {
  height: 48px;
  border-left: 1px solid #006563;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.heading-twenty h3 {
  font-size: 16px;
  background-color: #006563;
  width: 100%;
  max-width: 170px;
  text-align: center;
  padding: 4px 0;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  left: -1px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.select-twenty {
  position: relative;
  width: 200px;
  height: 32px;
}

.select-twenty .custom-select {
    border: none;
    background-color: #E6E7E8;
    position: relative;
    left: -1px;
    height: 32px;
    border-radius: 0;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    -webkit-appearance: none;
    color: #006563;
    background-image: none;
    padding: 0px 0px 0px 30px;
}

.select-twenty::before {
  content: '\f107';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  width: 24px;
  height: 24px;
  position: absolute;
  color: #006563;
  z-index: 10;
  left: 10px;
  top: 8px;
  pointer-events: none;
}

option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.section {
  position: relative;
  margin: 40px 0;
  padding: 40px 0;
  background-color: #ffffff;
  overflow: hidden;
}
