
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    /* width: 10vw; */
    justify-content: end;
    margin-right: 2rem;
}

li a {
    line-height: 22px;
    color: #006563;
    font-weight: 400;
    font-size: 12;
    letter-spacing: 1px;
}

li a:hover {
    color: #cfab7a;
    cursor: pointer;
}

.header-box {
    background-color: #006563;
    box-sizing: border-box;
}

.container {
    width: 1280px !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.link-home {
    float: left;
    margin-right: 12px;
}

.link-home img {
    width: 32px;
    aspect-ratio: auto 290 / 426;
    height: 86px;
    max-width: 100%;
    display: block;
}

.standard-logo img {
    width: 199px;
    aspect-ratio: auto 290 / 426;
    height: 86px;
    max-width: 100%;
    display: block;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.search-header input {
    width: 100%;
    height: 34px;
    border-radius: 15px;
    -webkit-appearance: none;
    border: none;
    font-size: 13px;
    font-family: Arial;
    background-color: #E6E7E8;
    padding: 0 12px 0 40px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.search-header {
    position: relative;
    margin-bottom: 0;
    display: block;
    width: 100%;
    max-width: 349px;
    margin: 0 0 0 auto;
}

.search-header label::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("");
    background-position: 0 0;
}

.search-header input {
    width: 100%;
    height: 34px;
    border-radius: 15px;
    -webkit-appearance: none;
    border: none;
    font-size: 13px;
    font-family: Arial;
    background-color: #E6E7E8;
    padding: 0 12px 0 40px;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}


.list-menu {
    float: left;
    justify-content: flex-start;
}

li {
    display: inline;
    float: left;
}

ul {
    list-style: none;
    margin: 0;
}