.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.ohana-container-login {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.ohana-container {
  width: 100%;
}

@media (min-width: 992px) {
  .ohana-container-login {
      max-width: 880px;
  }
}
@media (min-width: 1600px) {
  .ohana-container-login {
      max-width: 1000px;
  }
}


#sidebar-wrapper .sidebar-heading {
  height: 5rem;
}
#sidebar-wrapper::-webkit-scrollbar {
  width: 4px;
}
#sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #3075A6 !important;
  border-radius: 4px;
}
.sidebar-wacvr .active {
  background-color: #FFFFFF !important;
  color: #3075A6 !important;
  border-radius: 0.25rem !important;
  box-shadow: 0 3px 6px #00000029 !important;
}

.width-fit-content {
  width: fit-content;
  width: -moz-fit-content;
}
.height-fit-content {
  height: fit-content;
  height: -moz-fit-content;
}

.pointer {
  cursor: pointer;
}

.font-size-65-percent {
  font-size: 65%;
  font-weight: 400;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.shadow-graph {
  box-shadow: 0 3px 6px #00000029;
}

.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}

.capitalize {
  text-transform: capitalize;
}

.border-radius-8-px {
  border-radius: 8px !important;
}
.border-radius-12-px {
  border-radius: 12px !important;
}
.border-radius-14-px {
  border-radius: 14px !important;
}
.border-radius-18-px {
  border-radius: 18px !important;
}

.line-height-1 {
  line-height: 1;
}
.line-height-1-2 {
  line-height: 1.2;
}

.color-0C0C0C {
  color: #0C0C0C;
}
.bgc-0C0C0C {
  background-color: #0C0C0C;
}
.border-0C0C0C {
  border: 1px solid #0C0C0C;
}
.color-EB2424 {
  color: #EB2424 !important;
}
.bgc-EB2424 {
  background-color: #EB2424 !important;
}
.border-EB2424 {
  border: 1px solid #EB2424 !important; 
}
.color-212529 {
  color: #212529 !important;
}
.color-939598 {
  color: #939598;
}
.bgc-939598 {
  background-color: #939598;
}
.border-939598 {
  border: 1px solid #939598;
}

.color-97A0AE {
  color: #97A0AE !important;
}
.bgc-97A0AE {
  background-color: #97A0AE !important;
}
.border-97A0AE {
  border: 1px solid #97A0AE !important;
}

.color-034694 {
  color: #034694 !important;
}
.bgc-034694 {
  background-color: #034694 !important;
}
.border-034694 {
  border: 1px solid #034694 !important;
}

.color-E03C45 {
  color: #E03C45;
}
.bgc-E03C45 {
  background-color: #E03C45 !important;
}
.border-E03C45 {
  border: 1px solid #E03C45;
}

.color-707070 {
  color: #707070;
}
.bgc-707070 {
  background-color: #707070;
}
.border-707070 {
  border: 1px solid #707070;
}

.color-000000FC {
  color: #000000FC;
}
.bgc-000000FC {
  background-color: #000000FC;
}
.border-000000FC {
  border: 1px solid #000000FC;
}

.color-EBF2F7 {
  color: #EBF2F7;
}
.bgc-EBF2F7 {
  background-color: #EBF2F7;
}
.border-EBF2F7 {
  border: 1px solid #EBF2F7;
}

.color-B3B8BD {
  color: #B3B8BD;
}
.bgc-B3B8BD {
  background-color: #B3B8BD;
}
.border-B3B8BD {
  border: 1px solid #B3B8BD;
}

.color-3D3D3D {
  color: #3D3D3D;
}
.bgc-3D3D3D {
  background-color: #3D3D3D;
}
.border-3D3D3D {
  border: 1px solid #3D3D3D;
}

.color-00AEEF {
  color: #00AEEF;
}
.bgc-00AEEF {
  background-color: #00AEEF;
}
.border-00AEEF {
  border: 1px solid #00AEEF;
}

.color-2EC114 {
  color: #2EC114;
}
.bgc-2EC114 {
  background-color: #2EC114;
}
.border-2EC114 {
  border: 1px solid #2EC114;
}
.fill-2EC114 {
  fill: #2EC114;
}

.color-52575D {
  color: #52575D;
}
.bgc-52575D {
  background-color: #52575D;
}
.border-52575D {
  border: 1px solid #52575D;
}

.color-41526E {
  color: #41526E;
}
.bgc-41526E {
  background-color: #41526E;
}
.border-41526E {
  border: 1px solid #41526E;
}

.color-3075A6 {
  color: #3075A6 !important;
}
.bgc-3075A6 {
  background-color: #3075A6;
}
.border-3075A6 {
  border: 1px solid #3075A6;
}

.color-EBECF0 {
  color: #EBECF0 !important;
}
.bgc-EBECF0 {
  background-color: #EBECF0;
}
.border-EBECF0 {
  border: 1px solid #EBECF0 !important;
}

.color-438EBC {
  color: #438EBC !important;
}
.bgc-438EBC {
  background-color: #438EBC !important;
}
.border-438EBC {
  border: 1px solid #438EBC !important;
}

.color-02875A {
  color: #02875A !important;
}
.bgc-02875A {
  background-color: #02875A !important;
}
.border-02875A {
  border: 1px solid #02875A !important;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #41526E;
  border-radius: 4px;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}