
.container-table {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

th {
    text-align: center;
    color: white;
}

.td-table {
    color: black;
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

thead {
    background-color: #3075a6;
}

a:hover{
    color: yellow;
    cursor: pointer;
}